@if (User!.Identity!.IsAuthenticated)
{
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
        <ul class="navbar-nav ">
            <li class="navbar-text me-2">
                @User.Identity.Name
            </li>
            <li class="nav-item me-2">
                @Html.ActionLink("Change Password", "ChangePassword", "Account", null, new { @class = "btn btn-secondary"})
            </li>
            <li class="nav-item">
                @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "btn btn-danger"})
            </li>
        </ul>
    </div>
}